@import "tailwindcss";

/* Base */
body {
  @apply bg-white text-gray-900 antialiased;
}

/* Smooth UI */
button {
  @apply transition-all duration-200;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease forwards;
}